/* line 4, ../sass/components/_code.scss */
pre, code, kbd, samp {
  font-family: "Monaco", "Ubuntu Mono", "Lucida Console", "Courier New", Courier, monospace;
}

/* line 8, ../sass/components/_code.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 15, ../sass/components/_code.scss */
.kss-markup {
  max-height: 30.1em;
  overflow: auto;
  padding: 1em;
  background: #333;
  font-size: 0.88em;
  border-top: 1px solid #EC912D;
}
/* line 23, ../sass/components/_code.scss */
.kss-markup pre {
  margin: 0;
}

/* line 28, ../sass/components/_code.scss */
code {
  display: inline-block;
  padding: 2px 4px;
  background: #333;
  border-radius: 2px;
  font-size: 0.75em;
  color: #ffa0a0;
  font-style: normal;
  font-weight: normal;
  white-space: pre;
}

/* desert scheme ported from vim to google prettify */
/* line 45, ../sass/components/_code.scss */
pre.prettyprint {
  display: block;
  background-color: #333;
}

/* line 46, ../sass/components/_code.scss */
pre .nocode {
  background-color: none;
  color: #000;
}

/* line 47, ../sass/components/_code.scss */
pre .str {
  color: #ffa0a0;
}

/* string  - pink */
/* line 48, ../sass/components/_code.scss */
pre .kwd {
  color: #f0e68c;
  font-weight: bold;
}

/* line 49, ../sass/components/_code.scss */
pre .com {
  color: #87ceeb;
}

/* comment - skyblue */
/* line 50, ../sass/components/_code.scss */
pre .typ {
  color: #98fb98;
}

/* type    - lightgreen */
/* line 51, ../sass/components/_code.scss */
pre .lit {
  color: #cd5c5c;
}

/* literal - darkred */
/* line 52, ../sass/components/_code.scss */
pre .pun {
  color: #fff;
}

/* punctuation */
/* line 53, ../sass/components/_code.scss */
pre .pln {
  color: #fff;
}

/* plaintext */
/* line 54, ../sass/components/_code.scss */
pre .tag {
  color: #f0e68c;
  font-weight: bold;
}

/* html/xml tag    - lightyellow */
/* line 55, ../sass/components/_code.scss */
pre .atn {
  color: #bdb76b;
  font-weight: bold;
}

/* attribute name  - khaki */
/* line 56, ../sass/components/_code.scss */
pre .atv {
  color: #ffa0a0;
}

/* attribute value - pink */
/* line 57, ../sass/components/_code.scss */
pre .dec {
  color: #98fb98;
}

/* decimal         - lightgreen */
/* Specify class=linenums on a pre to get line numbering */
/* line 60, ../sass/components/_code.scss */
ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
  color: #AEAEAE;
}

/* IE indents via margin-left */
/* line 61, ../sass/components/_code.scss */
li.L0, li.L1, li.L2, li.L3, li.L5, li.L6, li.L7, li.L8 {
  list-style-type: none;
}

/* Alternate shading for lines */
@media print {
  /* line 66, ../sass/components/_code.scss */
  pre.prettyprint {
    background-color: none;
  }

  /* line 67, ../sass/components/_code.scss */
  pre .str, code .str {
    color: #060;
  }

  /* line 68, ../sass/components/_code.scss */
  pre .kwd, code .kwd {
    color: #006;
    font-weight: bold;
  }

  /* line 69, ../sass/components/_code.scss */
  pre .com, code .com {
    color: #600;
    font-style: italic;
  }

  /* line 70, ../sass/components/_code.scss */
  pre .typ, code .typ {
    color: #404;
    font-weight: bold;
  }

  /* line 71, ../sass/components/_code.scss */
  pre .lit, code .lit {
    color: #044;
  }

  /* line 72, ../sass/components/_code.scss */
  pre .pun, code .pun {
    color: #440;
  }

  /* line 73, ../sass/components/_code.scss */
  pre .pln, code .pln {
    color: #000;
  }

  /* line 74, ../sass/components/_code.scss */
  pre .tag, code .tag {
    color: #006;
    font-weight: bold;
  }

  /* line 75, ../sass/components/_code.scss */
  pre .atn, code .atn {
    color: #404;
  }

  /* line 76, ../sass/components/_code.scss */
  pre .atv, code .atv {
    color: #060;
  }
}
/* line 1, ../sass/components/_component.scss */
.kss-section--depth-2 {
  margin: 3em 0 4em;
  padding-left: 2em;
  border-left: 1px solid #E9762D;
}

/* line 12, ../sass/components/_component.scss */
.kss-examples .kss-example-details .kss-example-desc {
  width: 80%;
  float: left;
}
/* line 17, ../sass/components/_component.scss */
.kss-examples .kss-example-details .kss-example-name {
  width: 20%;
  float: left;
  text-align: right;
}
/* line 24, ../sass/components/_component.scss */
.kss-examples .kss-example-preview {
  position: relative;
  margin-bottom: 2em;
  border: 1.5em solid #F7F9FB;
  background: #ffffff;
}
/* line 30, ../sass/components/_component.scss */
.kss-examples .kss-example-preview .icon-expand {
  position: absolute;
  top: -1.25em;
  right: -1.25em;
  width: 1.125em;
  height: 1.125em;
  background: url(images/expand.png) no-repeat;
  background-size: 100%;
  content: '';
  cursor: pointer;
}
/* line 42, ../sass/components/_component.scss */
.kss-examples .kss-example-preview.is-focused {
  position: fixed;
  top: 2em;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  border: 0;
  z-index: 1000;
  overflow: auto;
}
/* line 55, ../sass/components/_component.scss */
.kss-examples .kss-focus-ui {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 2em;
  background: #888;
  text-align: center;
  color: #fff;
  content: '';
}
/* line 67, ../sass/components/_component.scss */
.is-focused .kss-examples .kss-focus-ui {
  display: block;
}
/* line 71, ../sass/components/_component.scss */
.kss-examples .kss-focus-ui .kss-focus-ui__close {
  width: 100%;
  line-height: 2em;
  cursor: pointer;
}

/* line 1, ../sass/components/_layout.scss */
body.kss {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  color: #444;
}
/* line 6, ../sass/components/_layout.scss */
body.kss a {
  text-decoration: none;
  color: #59879B;
}
/* line 10, ../sass/components/_layout.scss */
body.kss a:hover {
  text-decoration: underline;
}
/* line 15, ../sass/components/_layout.scss */
body.kss img {
  max-width: 100%;
  height: auto;
}

/* line 21, ../sass/components/_layout.scss */
.is-focused .kss-main {
  display: none;
}

/* line 25, ../sass/components/_layout.scss */
.kss-header {
  background: #eee;
  border-bottom: 1px solid #ddd;
}
/* line 29, ../sass/components/_layout.scss */
.kss-header .kss-logo {
  padding: 1em 2em;
}

/* line 34, ../sass/components/_layout.scss */
.kss-footer {
  background: #eee;
  border-top: 1px solid #ddd;
  padding: 1em;
  text-align: center;
}

/* line 41, ../sass/components/_layout.scss */
.kss-left,
.kss-right {
  float: left;
  box-sizing: border-box;
  padding: 0 1em;
}

/* line 47, ../sass/components/_layout.scss */
.kss-left {
  width: 24%;
}

/* line 50, ../sass/components/_layout.scss */
.kss-right {
  width: 76%;
}

/* line 54, ../sass/components/_layout.scss */
.kss-content {
  padding: 1em;
}

/* line 58, ../sass/components/_layout.scss */
.kss-style,
.kss-markup {
  max-width: 54em;
}

/* line 64, ../sass/components/_layout.scss */
.kss-clearfix:after, .kss-examples .kss-example-details:after, .kss-examples .kss-example-preview:after {
  content: "";
  display: table;
  clear: both;
}

/* line 1, ../sass/components/_nav.scss */
.kss-nav {
  padding: 1em 2em;
}
/* line 4, ../sass/components/_nav.scss */
.kss-nav ul {
  list-style: none;
  padding: 0;
}
/* line 8, ../sass/components/_nav.scss */
.kss-nav ul ul {
  padding-left: 1em;
}
/* line 12, ../sass/components/_nav.scss */
.kss-nav ul a {
  display: block;
  padding: 8px;
  border-bottom: 1px solid #ddd;
  font-weight: bold;
  -webkit-transition: background .25s;
  -moz-transition: background .25s;
  -o-transition: background .25s;
  transition: background .25s;
}
/* line 23, ../sass/components/_nav.scss */
.kss-nav ul a:hover {
  text-decoration: none;
  background: #ddd;
}
/* line 28, ../sass/components/_nav.scss */
.kss-nav ul ul a {
  font-weight: normal;
}

/* line 2, ../sass/components/_typography.scss */
.kss h1, .kss h2, .kss h3, .kss h4, .kss h5, .kss h6 {
  margin: .5em 0;
  font-weight: 900;
  line-height: 1;
}
/* line 8, ../sass/components/_typography.scss */
.kss h1 {
  font-size: 3em;
}
/* line 11, ../sass/components/_typography.scss */
.kss h2 {
  font-size: 2.5em;
}
/* line 14, ../sass/components/_typography.scss */
.kss h3 {
  font-size: 2em;
}
/* line 17, ../sass/components/_typography.scss */
.kss h4 {
  font-size: 1.5em;
}
/* line 20, ../sass/components/_typography.scss */
.kss h5 {
  font-size: 1.25em;
}
/* line 23, ../sass/components/_typography.scss */
.kss h6 {
  font-size: 1em;
}

/*# sourceMappingURL=style.css.map */
